.card {
    background-color: white;
    margin: 5px 0px;
    border: solid 1px #edeeee;
    border-radius: 5px;
}
header.card-header {
    padding: 5px 20px;
    border-bottom: solid 1px #edeeee;
}
.card-body {
    display: flex;
    justify-content: space-between;
}
.card-image {
    flex-grow: 0;
    flex-basis: 130px;
    padding: 5px;
}
.card-image1 {
  flex-grow: 0;
  flex-basis: 130px;
  padding: 5px;
  border-left: solid 1px #edeeee;
}
.card-info1 {
    flex-grow: 1;
    padding: 5px;
    border-bottom: solid 1px #edeeee;
    border-right: solid 1px #edeeee;
    margin: 0px -1px -1px 0;
    flex-basis: 150px;
    height: 265px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-info2 {
    flex-grow: 1;
    padding: 5px;
    margin:0px -1px 10px 0;
    flex-basis: 150px;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-info {
    margin: -1px 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
img.card-image {
    height: 195px;
    width: 195px
}
button.card-button {
    width: 195px;
    margin: 5px 5px 10px 5px;
    padding: 9px;
}
