button {
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 95%);
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
button.primary {
    background-color: #21BA45;
}
button.primary:hover {
    background-color: hsla(135,70%,35%,1)
}
button:hover {
  background-color: hsl(0, 0%, 90%);
}
input {
  font-size: 20px;
  padding: 0px 20px;
  outline: none;
  border: solid 1px #edeeee;
  border-radius: 5px 1px;
  background-color: #fafafa;
}
input:focus {
  outline: none;
  border: solid 1px #edeeee;
  border-radius: 5px;
  background-color: white;
}
