body{
  margin: 0em;
  padding: 0em;
  background-color: #FAFAFA;
  font-family: Ubuntu;
  min-width: 480px;
}
@font-face{
    font-family: Ubuntu;
    src: url(ubuntu/Ubuntu.ttf);
}
button {
    color: #6F7276;
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 90%);
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
button.primary {
    color: white;
    background-color: #21BA45;
}
button.primary:hover {
    background-color: hsla(135,70%,35%,1)
}
button:hover {
    background-color: hsl(0, 0%, 85%);
}
input {
  color: #6F7276;
  font-size: 20px;
  padding: 9px;
  outline: none;
  border: solid 2px #edeeee;
  border-radius: 7px;
  background-color: #fafafa;
  margin: 3px 0px;
}
input:focus {
    color: black;
    background-color: white;
}
textarea {
  color: #6F7276;
  font-size: 20px;
  padding: 9px;
  outline: none;
  border-radius: 7px;
  border: solid 2px #edeeee;
  background-color: #fafafa;
  resize: none;
}
textarea:focus {
  color: black;
  border: solid 2px #edeeee;
  background-color: white;
}
img{
    object-fit: cover;
}
a{
  color: inherit;
  text-decoration: inherit;
}
h1,h2,h3,h4,h5,h6{
  margin: 5px;
}
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-clear-button{
  -webkit-appearance:none;
  margin:0;
  display: none;
}
.toggle{
    position: absolute;
    transform: translate(-50%,-50%);
    margin-left: 30px;
    margin-top: 11px;
}
.toggle input[type="checkbox"]{
    visibility: hidden;
}
.toggle label{
    width: 45px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: hsl(0, 0%, 85%);
    transition: background .2s ease-in-out;
    cursor: pointer;
}
.toggle label:after{
    content: '';
    width: 20px;
    height: 20px;
    background: #37474f;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -1px;
    transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.toggle input[type="checkbox"]:checked + label:after{
    left : 25px;
}
.toggle input[type="checkbox"]:checked + label{
    background: #5c6bc0;
}