.NameText{
  margin:15px 0px;
}
.BlockComent{
  padding: 10px;
  background: #ffffff;
  min-width: 400px;
  border:solid 5px rgba(118, 118, 118, 0.3);
}
.BlockImg{
  padding: 10px;
  background: #ffffff;
  margin: 0px 5px 0px 0px;
  border:solid 1px rgba(118, 118, 118, 0.3);
}
.TextComent {
  margin-top: 25px;
}
.card {
  background-color: white;
  width: 98%;
  margin: 1%;
  border: solid 1px #edeeee;
  border-radius: 5px;
}
header.card-header {
  padding: 0px 20px;
  padding: 5px 20px;
  border-bottom: solid 1px #edeeee;
}
.card-body {
  display: flex;
  justify-content: space-between;
}
.card-image {
  flex-basis: 150px;
  padding: 5px;
}
.card-info1 {
  flex-basis: 80%;
  padding: 5px;
  border-right: solid 1px #edeeee;
}
.card-info {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 150px;
  padding: 5px;
  border-right: solid 1px #edeeee;
}
img.card-image {
  max-height: 150px;
  max-width: 150px;
}
button.card-button {
  width: 150px;
  margin: 5px 5px 10px 5px;
}
@font-face{
    font-family: Ubuntu;
    src: url(ubuntu/Ubuntu.ttf);
   }
.Icon.small{
    font-size: 26px;
}
.PanelForMenu{
  height: 3.5em;
  margin: 0em;
  padding: 0em;
}
.PadingText{
  margin: 10px 0px 0px 30px;
}
.NameFont{
  margin: 10px 0px 10px 30px;
}
.Text{
  margin:10px;
  width:auto;
}
.ProfilInfo{
  height: auto;
  min-width:300px;
  max-width: 600px;
  margin: 10px;
}
.RowFlexBetween{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
@keyframes openSignUp{
  from{
    transform: translateY(-120px);
  }
  to {
    transform: translateY(0px);
  }
}
.NavFeedBack{
  height: 95px;
  margin: 0em;
  padding: 0em;
  width: 100%;
}
