body{
  margin: 0em;
  padding: 0em;
  background-color: #FAFAFA;
  font-family: Ubuntu;
  min-width: 450px;
}
.card {
  background-color: white;
  width: 98%;
  margin: 1%;
  border: solid 1px #edeeee;
  border-radius: 5px;
}
header.card-header {
  padding: 5px 20px;
  border-bottom: solid 1px #edeeee;
}
.card-body {
  display: flex;
  justify-content: space-between;
}
.card-image {  
  flex-basis: 150px;
  padding: 5px;
}
.card-info {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 150px;
  padding: 5px;
  border-right: solid 1px #edeeee;
}
img.card-image {
  max-height: 150px;
  max-width: 150px;
}
button.card-button {
  width: 150px;
  margin: 5px 5px 10px 5px;
}
/*
h4{
  margin: 2px;
  padding: 3px;
}*/
@font-face{
    font-family: Ubuntu;
    src: url(ubuntu/Ubuntu.ttf);
   }/*
  html {
    height: 100%;
    box-sizing:border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .demo{
    padding-bottom: 65px;
    min-height: 740px;
  }*/
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #37474f;
    text-align: center;
    color: #fff;
    padding-bottom: 11px;
  }
   .TextCenter{
     text-align: center;
   }
   .FooterButton{
     margin:0px;
     padding: 14px 10px 5px 10px;
     font-size: 15px;
     cursor: pointer;
     -moz-user-select: -moz-none;
     -o-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     user-select: none;
     text-transform: uppercase;
   }
   .FooterButton:hover{
     background: #5c6bc0;
   }
   .FooterButtonPosition{
     justify-content:center;
   }/*
.Icon.small{
    font-size: 26px;
}
.PanelForMenu{
  height: 3.5em;
  margin: 0em;
  padding: 0em;
}
.Menu{
  text-transform: uppercase;
  text-align: center;
  position: fixed;
  width: 100%;
  clear: both;
  margin: 0em;
  padding: 0em;
  height: 3.5em;
  background-color: #FD7C16;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.Label{
  background-color: #ffffff;
  border-radius: 0.3em;
  border: 0.225em solid #ffffff;
  outline:none;
}
.Label:active{
  border: 0.225em solid #1abc9c;
}
.Label:focus{
  border: 0.225em solid #1abc9c;
}
.Label:hover{
  border: 0.225em solid #1abc9c;
}
.Label:visited{
  border: 0.225em solid #1abc9c;
}
.Button{
  outline:none;
  border-radius: 0.3em;
  cursor: pointer;
  background-color: #FD7C16;
  color: #ffffff;
  border:solid 2px #FD7C16;
}
.Button.Settings{
    height: 45px;
    width: 300px;
    margin: 0px;
    font-size: 26px;
    background-color: #37474f;
    color: #ffffff;
    border:solid 2px #37474f;
}
.Button:active{
  opacity: 0.6;
}
.Button:hover{
  opacity: 0.6;
}
.Button:visited{
  opacity: 0.6;
}
.Image{
  object-fit: cover;
  vertical-align: middle;
}
.Circle{
  border-radius: 50%
}
.Square{
  border-radius: 0.3em;
}
.DFlex{
  display: flex;
}
.RowArround{
  flex-direction:row;
  justify-content:space-around;
  flex-wrap:wrap;
}
.RowBetween{
  flex-direction:row;
  justify-content:space-between;
  flex-wrap:wrap;
}
.ColumnArround{
  flex-direction:column;
  justify-content:space-around;
  flex-wrap:wrap;
}
.ColumnBetwen{
  flex-direction:column;
  justify-content:space-between;
  flex-wrap:wrap;
}
.Block{
  background-color: #ffffff;
  overflow: hidden;
}
/*color
.GreenBtn{
  background-color: #74C658;
  border: solid 2px #74C658;
}
.WhiteBtn{
  background-color: #ffffff;
  color: #000000;
  border: solid 2px #ffffff;
}
.DisplayBlock{
  display: block;
}
.RadioButton{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 5px 2px 0px 30px;
}
.ButtonClose{
    cursor: pointer;
}
.FeedBack{
    margin-top: 70px;
    font-size: 30px;
    animation-name: openSignUp;
    animation-duration: 1.5s;
    position:absolute;
    width: 100%;
    min-width:450px;
}
.FeedBackText{
    padding: 30px 10px;
    text-align: center;
}
.Error{
    background-color: #F44336;
}
.Success{
    background-color: #8BC34A;
}
@keyframes openSignUp{
  from{
    transform: translateY(-120px);
  }
  to{
    transform: translateY(0px);
}
.NavFeedBack{
  height: 95px;
  margin: 0em;
  padding: 0em;
  width: 100%;
}*/
