@font-face{
    font-family: Ubuntu;
    src: url(ubuntu/Ubuntu.ttf);
   }
  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot);
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
   }
  .Icon {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   margin: 0em;
   padding: 0em;
   vertical-align: middle;
   white-space: nowrap;
   direction: ltr;
   -moz-user-select: -moz-none;
   -o-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
  -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
   font-feature-settings: 'liga';
}
.Icon.small{
    font-size: 26px;
}
body{
  margin: 0em;
  padding: 0em;
  background-color: #E9E9E9;
  font-family: Ubuntu;
}
.PanelForMenu{
  height: 3.5em;
  margin: 0em;
  padding: 0em;
}
.Menu{
  text-transform: uppercase;
  text-align: center;
  position: fixed;
  width: 100%;
  clear: both;
  margin: 0em;
  padding: 0em;
  height: 3.5em;
  background-color: #FD7C16;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  flex-wrap:wrap;
}
.Label{
  background-color: #ffffff;
  border-radius: 0.3em;
  border: 0.225em solid #ffffff;
  outline:none;
}
.Label:active{
  border: 0.225em solid #1abc9c;
}
.Label:focus{
  border: 0.225em solid #1abc9c;
}
.Label:hover{
  border: 0.225em solid #1abc9c;
}
.Label:visited{
  border: 0.225em solid #1abc9c;
}
.Button{
  outline:none;
  border-radius: 0.3em;
  cursor: pointer;
  background-color: #FD7C16;
  color: #ffffff;
  border:solid 2px #FD7C16;
}
.Button:active{
  opacity: 0.6;
}
.Button:hover{
  opacity: 0.6;
}
.Button:visited{
  opacity: 0.6;
}
.Image{
  object-fit: cover;
  vertical-align: middle;
}
.Circle{
  border-radius: 50%
}
.Square{
  border-radius: 0.3em;
}
.DFlex{
  display: flex;
}
.RowArround{
  flex-direction:row;
  justify-content:space-around;
  flex-wrap:wrap;
}
.RowBetween{
  flex-direction:row;
  justify-content:space-between;
  flex-wrap:wrap;
}
.ColumnArround{
  flex-direction:column;
  justify-content:space-around;
  flex-wrap:wrap;
}
.ColumnBetwen{
  flex-direction:column;
  justify-content:space-between;
  flex-wrap:wrap;
}
.Block{
  background-color: #ffffff;
  overflow: hidden;
}
/*color*/
.GreenBtn{
  background-color: #74C658;
  border: solid 2px #74C658;
}
.WhiteBtn{
  background-color: #ffffff;
  color: #000000;
  border: solid 2px #ffffff;
}
