
.NameText{
  margin:15px 0px;
}
@font-face{
    font-family: Ubuntu;
    src: url(ubuntu/Ubuntu.ttf);
   }
.Icon.small{
    font-size: 26px;
}
.PanelForMenu{
  height: 3.5em;
  margin: 0em;
  padding: 0em;
}
.PadingText{
  margin: 10px 0px 0px 30px;
}
.NameFont{
  margin: 10px 0px 10px 30px;
}
.Text{
  margin:10px;
  width:auto;
}
.ProfilInfo{
  height: auto;
  min-width:300px;
  max-width: 600px;
  margin: 10px;
}
.RowFlexBetween {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}
@keyframes openSignUp{
  from{
    transform: translateY(-120px);
  }
  to {
    transform: translateY(0px);
  }
}
.NavFeedBack{
  height: 95px;
  margin: 0em;
  padding: 0em;
  width: 100%;
}
