.Menu{
  text-transform: uppercase;
  text-align: center;
  position: fixed;
  width: 100%;
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 50px;
  background-color: #FD7C16;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
/* Резина для блоков
.flex-container {
    display: -webkit-flex;
    display: flex;
   -webkit-align-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: green;
    margin: 10px auto;
}
.flex-item {
    background-color: red;
    min-width: 350px;
    min-height:70px;
    margin: 5px;
}
.first {
    -webkit-order: 1;
    flex: 1;
}*/
.ProfilImage{
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 10px;
}
.BtnSettings{
	background-color:#FD7C16;
  color:white;
  width: 300px;
  height: 52px;
  margin: 0px 10px;
  padding:0px;
  border: solid 2px #FD7C16;
  cursor: pointer;
}
.BtnSettings:hover{
  color: #FD7C16;
  background-color:white;
  border: solid 2px #FD7C16;
}
.BtnSettings:focus{
  color: #FD7C16;
  background-color:white;
  border: solid 2px #FD7C16;
  outline: 0px;
}
.ImgBtn{
  background-color: #FF5022;
  padding:10px 5px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  float: left;
}
.BtnText{
  margin:16px 0px;
  font-family: Ubuntu-M;
}
.ProfilContent{
  flex-direction: row-reverse;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  width: auto;
}
.item1 {
    order: 0;
    height: auto;
    background: white;
    margin:0px;
    padding-bottom: 10px;
    flex-basis: 300px;
}

.item2 {
    order: 1;
    height: auto;
    background: white;
    margin:0px;
    padding-bottom: 10px;
    flex-basis: 600px;
}

.Column{
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  justify-content:flex-start;
}
.ImgProfilInfo{
  margin:2px 10px;
  width: 20px;
  height: 20px;
  object-fit: cover;
  vertical-align: middle;
}
.PadingText{
  margin: 10px 0px 0px 30px;
}
.NameFont{
  margin: 10px 0px 10px 30px;
}
.Text{
  margin:10px;
  width:auto;
}
.ProfilInfo{
  height: auto;
  min-width:300px;
  max-width: 600px;
  margin: 10px;
}
.white{
  height: auto;
  background: white;
  margin:0px;
  padding-bottom: 10px;
}
.SettingContent {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:nowrap;
    margin: 10px;
}
.SettingName{
    text-align: center;
    margin:5px 0px 30px 0px;
}
.SettingConteiner{
    display: flex;
}
.SettingBtn{
    border:solid 2px #1abc9c;
    border-radius: 4px;
    cursor: pointer;
    background-color: #1abc9c;
    padding: 5px 20px;
    font-size: 1em;
    margin: 46px 0px 10px 355px;
    color: #000000;
}
.SettingInput{
    margin: 0em 0.8em 0.8em 0em;
    padding: 0.5em;
    font-size: 0.8em;
    width: 32.4em;
    border-radius: 5px;
    background-color: #E9E9E9;
}
.SettingTextarea{
    margin: 0em 0.8em -40px 0em;
    padding: 0.5em;
    font-size: 1em;
    width: 32em;
    height: 5em;
    border-radius: 5px;
    border: 2px inset;
    resize: none;
    background-color: #E9E9E9;
}
.SettingTextarea:focus{
    outline:none;
    border: 2px solid #1abc9c;
}
.SettingTextarea:hover{
    outline:none;
}
.SettingBtn:hover{
    border:solid 2px #000000;
    background-color: #ffffff;
}
.SettingBtn:focus{
    border:solid 2px #1abc9c;
    background-color: #1abc9c;
    outline: none;
}
.SettingBtn:active{
    border:solid 2px #000000;
    background-color: #ffffff;
}
.SettingInput:active{
    color: #ffffff;
}
.SettingInput:focus{
    outline:none;
    border: 2px solid #1abc9c;
}
.SettingImg{
    width:397px;
    height:397px;
    border-radius: 10px;
    margin: 5px 30px;
}
.SettingImgBtn {
    position: relative;
    overflow: hidden;
    width: 35em;
    height: 17px;
    background: #ffffff;
    border-radius: 3px;
    padding: 8px 4px;
    text-align: center;
    margin: 5px 0px 10px 0px;
    font-size: 0.8em;
    border: 2px inset;
    background-color: #E9E9E9;
}
.SettingImgBtn:hover {
    border: 2px solid #1abc9c;
}
.SettingImgBtn input[type="file"]{
    display: none; /* Обязательно скрываем настоящий Input File */
}
.SettingImgBtn label {
    /* Растягиваем label на всю возможную площадь блока .file-upload */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30em;
    cursor: pointer;
}
.SettingImgBtn span {
    line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}
.SettingColor{
    background-color: #ffffff;
    padding:0px 10px;
    margin: -10px;
}

