/*!*M-Menu*!*/
/*!*Image*!*/
/*.ImgStyleM{*/
  /*width: 2.5em;*/
  /*height: 2.5em;*/
  /*padding: 0.5em;*/
  /*cursor: pointer;*/
/*}*/
/*.IconStyleM{*/
  /*color:#ffffff;*/
  /*font-size: 2.5em;*/
  /*padding: 0.2em;*/
  /*cursor: pointer;*/
/*}*/
/*.ImgStyleM:hover,.IconStyleM:hover,TextStyleM:hover{*/
  /*background-color:#FF5022;*/
/*}*/
/*!*Menu block*!*/
/*ul.menu {*/
  /*margin:0em;*/
  /*padding: 0em;*/
  /*height: auto;*/
  /*width: auto;*/
/*}*/
/*ul.menu li {*/
  /*float: left;*/
  /*list-style: none;*/
/*}*/
/*ul.menu li a {*/
  /*color: #ffffff;*/
  /*display: block;*/
  /*padding:12px;*/
  /*margin: 0px;*/
  /*text-transform:none;*/
  /*text-decoration: none;*/
/*}*/
/*ul.menu li ul {*/
  /*display: none;*/
  /*margin: 0em;*/
  /*background: #767676 ;*/
  /*padding: 0em;*/
/*}*/
/*ul.menu li:hover ul {*/
  /*display: block;*/
  /*position: absolute;*/
  /*margin: 0em;*/
  /*padding: 0em;*/
  /*margin-left:-7em;*/
/*}*/
/*ul.menu ul li  {*/
    /*padding: 0em;*/
/*}*/
/*!*Buttons*!*/
/*.Sign{*/
  /*margin: 0.2em 1em 0.2em;*/
  /*width: 12em;*/
  /*padding: 0.6em;*/
/*}*/
/*.BtnStyleM{*/
  /*background-color: #FFFFFF;*/
  /*color: #030303;*/
  /*border: solid 2px #FFFFFF;*/
  /*padding: 0.5em 1.5em;*/
  /*margin: 0.9em 1em;*/
  /*background-color: #FFFFFF;*/
  /*color: #000000;*/
  /*border: solid 2px #FFFFFF;*/
/*}*/
/*!*Input*!*/
/*.InputStyleM{*/
  /*padding: 0.4em;*/
  /*border:solid 0.225em #E9E9E9;*/
/*}*/
/*!*Text*!*/
/*.TextStyleM{*/
  /*color:#ffffff;*/
  /*cursor: default;*/
  /*color: #ffffff;*/
  /*font-weight:bolder;*/
  /*cursor: default;*/
  /*-moz-user-select: -moz-none;*/
  /*-o-user-select: none;*/
  /*-khtml-user-select: none;*/
  /*-webkit-user-select: none;*/
  /*user-select: none;*/
/*}*/
a{
  color: inherit;
  text-decoration: inherit;
}
body{
  margin: 0em;
  padding: 0em;
  font-family: Ubuntu;
  background-color: #F0F0F0;
}
.Nav{
  height: 65px;
  margin: 0em;
  padding: 0em;
}
.Menu{
  text-transform: uppercase;
  clear: both;
  margin: 0em;
  padding: 0em;
  height: 65px;
  background-color: #37474f;
  color: #ffffff;
}
.LeftBtnPanel{
  display: flex;
}
.MenuLeftBtn{
  margin: 15px 0px 0px 0px;
  font-size: 30px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.MenuRightBtn{
  margin: 20px 0px 0px 0px;
  padding: 15px 10px;
  font-size: 15px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.MenuRightBtn:hover{
  background: #5c6bc0;
}
.RowFlex{
  width: 100%;
  flex-direction:row;
  justify-content:space-around;
  flex-wrap:wrap;
  display: flex;
}
.SignInTextRight{
  text-align: center;
  margin: 10px 0px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 20px;
  cursor: default;
}
.SignInTextDisription{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
.SignInTextCompany{
  text-align: center;
  font-size: 67px;
  margin: 100px 0px 50px 0px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
.SignBtton{
  padding: 15px 20px;
  margin: 20px 0px 100px 120px;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  border-radius: 2px;
  border: solid 2px;
}
.SignInput{
  width: 320px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  border: solid 3px #3949AB;
}
.SignInput:focus{
  border:solid 3px #4CAF50;
}
.SignColore{
  padding: 70px 0px;
  background: #5c6bc0;
}
.SignInButton{
  background-color: #37474F;
  border-color: #37474F;
  color: #ffffff;
}
.SignUpButton{
  background-color: #4DB6AC;
  border-color: #4DB6AC;
}
.SignUpButton:hover{
  opacity: 0.6;
}
.SignInButton:hover{
  opacity: 0.8;
}
.PanelInfo{
  font-size: 18px;
  background: #4DB6AC;
}
.Welcome{
  padding: 40px 0px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
.ImgInfo{
  margin: 0px 105px;
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 50%;
}
.BlockInfo{
  width: 280px;
  height: 220px;
  padding: 40px 0px;
  margin: 60px 0px;
  background-color: #D7D7D7;
}
.TextInfoColor{
  margin: 10px 0px;
  color:#478189;
}
.PaddingSignIn{
  padding: 100px 0px;
}
