a{
  color: inherit;
  text-decoration: inherit;
}
.Nav{
  height: 65px;
  margin: 0em;
  padding: 0em;
}
.Menu{
  text-transform: uppercase;
  clear: both;
  margin: 0em;
  padding: 0em;
  height: 65px;
  background-color: #37474f;
  color: #ffffff;
  z-index: 1;
}
.LeftBtnPanel{
  display: flex;
}
.MenuLeftBtn{
  margin: 15px 0px 0px 10px;
  font-size: 30px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.MenuLeftBtn:hover{
  color:#A0ADF6;
}
.MenuRightBtn{
  margin: 20px 0px 0px 0px;
  padding: 14px 10px;
  font-size: 15px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.MenuRightBtn:hover{
  background: #5c6bc0;
}
.RowFlex{
  min-width: 396px;
  width: 100%;
  flex-direction:row;
  justify-content:space-around;
  flex-wrap: nowrap;
  display: flex;
}
.SignInTextRight{
  text-align: center;
  margin: 10px 0px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 20px;
  cursor: default;
}
.SignInTextDisription{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
.SignInTextCompany{
  text-align: center;
  font-size: 63px;
  margin: 100px 0px 50px 0px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
.SignBtton{
  padding: 15px 20px;
  margin: 20px 0px 100px 120px;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  border-radius: 2px;
  border: solid 2px;
}
.SignInput{
  width: 310px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  border: solid 3px #3949AB;
}
.SignInput:focus{
  border:solid 3px #4CAF50;
}
.SignIn{
  order: 1;
}
.SignUp{
  order: 2;
}
.SignColore{
  flex-wrap: wrap;
  padding: 100px 0px;
  background: #5c6bc0;
}
.SignInButton{
  background-color: #37474F;
  border-color: #37474F;
  color: #ffffff;
}
.SignUpButton{
  background-color: #4DB6AC;
  border-color: #4DB6AC;
}
.SignUpButton:hover{
  opacity: 0.6;
}
.SignInButton:hover{
  opacity: 0.8;
}
.PanelInfo{
  font-size: 18px;
  background: #4DB6AC;
}
.Welcome{
  padding: 40px 0px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
.ImgInfo{
  margin: 0px 105px;
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 50%;
}
.BlockInfo{
  width: 280px;
  height: 220px;
  padding: 40px 0px;
  margin: 60px 0px;
  background-color: #D7D7D7;
}
.TextInfoColor{
  margin: 10px 0px;
  color:#478189;
}
.PaddingSignIn{
  padding: 70px 0px;
}
.InputCheckBox{
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 60px;
}
.InputCheckBoxText{
  color:#ffffff;
  font-size: 20px;
}
