.TextHome{
  text-align: center;
  margin: 0px 5px 5px 5px;
}
.Van{
  position: fixed;
  left: 0; bottom: 0; /* Левый нижний угол */
  background: #37474f;
  color: #fff;
  width: 100%;
  height: 65px;
}

.SignInTextRight{
  text-align: center;
  margin: 10px 0px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 20px;
  cursor: default;
}
.NewsColumn{
  background-color: #FAFAFA;
  padding: 5px;
}
.SignInTextDisription{
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
.SignInTextCompany{
  text-align: center;
  font-size: 67px;
  margin: 100px 0px 50px 0px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
.SignBtton{
  padding: 15px 20px;
  margin: 20px 0px 100px 160px;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  border: solid 2px;
}
.SignInput{
  width: 400px;
  font-size: 20px;
  padding:10px 14px;
  border:solid 1px #37474F;
  border-radius: 3px;
  background-color: #ffffff;
}
.SignColore{
  padding: 80px 0px;
  background: #5C6BC0;
}
.SignInButton{
  background-color: #37474F;
  border-color: #37474F;
  color: #ffffff;
}
.SignUpButton{
  background-color: #ffffff;
  border-color: #37474F;
  color:#37474F;
}
.SignUpButton:hover{
  background-color: #37474F;
  border-color: #37474F;
  color:#ffffff;
  opacity: 1;
}
.SignInButton:hover{
  background-color: #ffffff;
  border-color: #37474F;
  color: #37474F;
  opacity: 1;
}
.PanelInfo{
  font-size: 18px;
  background: #4DB6AC;
}
.Welcome{
  padding: 40px 0px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/*.RowFlex{*/
  /*width: 100%;*/
  /*flex-direction:row;*/
  /*justify-content:space-around;*/
  /*flex-wrap: wrap;*/
  /*display: flex;*/
/*}*/
