.TextHome{
  text-align: center;
  margin: 5px;
}
.Nav{
  height: 65px;
  margin: 0em;
  padding: 0em;
}
.Menu{
  text-transform: uppercase;
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 65px;
  background-color: #37474f;
  color: #ffffff;
  position: fixed;
  z-index: 1;
  min-width: 450px;
}
.LeftBtnPanel{
    display: flex;
}
.MenuLeftBtn{
  margin: 15px 0px 0px 0px;
  font-size: 30px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.MenuLeftBtn:hover{
  opacity: 0.4;
}
.MenuRightBtn{
  margin: 20px 0px 0px 0px;
  padding: 14px 10px;
  font-size: 15px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.MenuRightBtn:hover{
  background: #5c6bc0;
}
.footer {
  background-color: #37474f;
  text-align: center;
  color: #fff;
  padding-bottom: 2px;
  min-width: 450px;
}
 .FooterButton{
   margin:0px;
   padding:14px 10px;
   font-size: 15px;
   cursor: pointer;
   -moz-user-select: -moz-none;
   -o-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   text-transform: uppercase;
 }
 .FooterButton:hover{
   background: #edeeee;
   color: #37474f;
 }
 .FooterButtonPosition{
   display: flex;
   justify-content: center;
 }
.RowFlex{
  width: 100%;
  flex-direction:row;
  justify-content:space-around;
  flex-wrap: wrap;
  display: flex;
}
