@font-face {
  font-family:Ubuntu-M;
  src:url(ubuntu/Ubuntu.ttf);
}
body{
  margin: 0px;
  background-color: #E9E9E9;
  font-family: Ubuntu-M;
}
h1,h2,h3,h4,h5,h6{
  margin: 0px;
}
.MenuRight{
  display: flex;
}
.Right{
  float: right;
}
.Left{
  float: left;
}
.Center{
  display: flex;
  align-items:center;
  align-content:center;
}
.TextHome{
  text-align: center;
  margin: 5px;
}
.Nav{
  height: 50px;
  margin: 0px;
  padding: 0px;
}
.TinyImage{
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.LolImage{
  width: 35px;
  height: 35px;
  object-fit: cover;
  margin:7.5px;
  vertical-align: middle;
}
.Sms{
  background-image: url(img/mail.png);
  width: 35px;
  height: 35px;
  background-size: 105%;
  margin:7.5px;
  z-index:1;
}
.SmallImage{
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.MediumImage{
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.HighImage{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.MassiveImage{
  width: 125px;
  height: 125px;
  object-fit: cover;
}
.BigImage{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.Square{
  border-radius: 20%;
}
.Circle{
  border-radius: 50%;
}
.Hover:hover{
  cursor: pointer;
  background-color: #FF5022;
}
.MenuTextName{
  color: white;
  margin:0 5px;
  text-transform: capitalize;
}
.MenuTextSms{
  color: white;
  background-color: #FF5022;
  margin: -44px 0px 0px 30px;
  border-radius: 20%;
  z-index:2;
}
.Block{
  background-color: white;
  margin:10px 0px;
  width:100%;
  height: 75px;
  overflow: hidden;
}
.Post{
  margin:0px 10px;
  flex-basis: 370px;
  flex-grow: 1;
}
.PostText{
  margin:5px;
}
.RowAll{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.NewsColumn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.Marker{
  color: white;
  font-weight: 600;
  background-color: #FF5022;
  margin:0 2px;
  border-radius: 5px;
}
.ProfilImage{
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 10px;
}
.BtnSettings{
  background-color:#FD7C16;
  color:white;
  width: 300px;
  height: 52px;
  margin: 0px 10px;
  padding:0px;
  border: solid 2px #FD7C16;
  cursor: pointer;
}
.BtnSettings:hover{
  color: #FD7C16;
  background-color:white;
  border: solid 2px #FD7C16;
}
.BtnSettings:focus{
  color: #FD7C16;
  background-color:white;
  border: solid 2px #FD7C16;
  outline: 0px;
}
.ImgBtn{
  background-color: #FF5022;
  padding:10px 5px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  float: left;
}
.BtnText{
  margin:16px 0px;
  font-family: Ubuntu-M;
}
.ProfilContent{
  flex-direction: row-reverse;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  width: auto;
  background-color: white;
  margin: 0px 3%;
}
.item1 {
  order: 0;
  height: auto;
  background: white;
  margin:0px;
  padding-bottom: 10px;
  flex-basis: 300px;
}

.item2 {
  order: 1;
  height: auto;
  background: white;
  margin:0px;
  padding-bottom: 10px;
  flex-basis: 600px;
  flex-grow: 1;
}
.Column{
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  justify-content:flex-start;
}
.ImgProfilInfo{
  margin:2px 10px;
  width: 20px;
  height: 20px;
  object-fit: cover;
  vertical-align: middle;
}
.PadingText{
  margin: 10px 0px 0px 30px;
}
.MarkerProfil{
  color: white;
  font-weight: 600;
  background-color: #A54253;
  margin: 0px 0px 10px 10px;
  border-radius: 5px;
  padding: 2px 5px;
  max-width: 290px;
  text-align: center;
}
.NameFont{
  margin: 10px 0px 10px 30px;
}
.Text{
  margin:10px;
  width:auto;
}
.ProfilInfo{
  height: auto;
  min-width:300px;
  max-width: 600px;
  margin: 10px;
}
.white{
  height: auto;
  background: white;
  margin:0px;
  padding-bottom: 10px;
}
