.profile {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.profile-header {
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #edeeee;
}
.profile-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contacts {
    flex-shrink: 0;
    flex-basis: 203px;
    padding: 20px 15px;
    flex-grow: 1;
    border-right: solid 1px #edeeee;
    border-bottom: solid 1px #edeeee;
}
.comment {
    margin-bottom: 5px;
    padding: 10px;
    background: #ffffff;
    min-width: 400px;
    border: solid 1px #edeeee;
    border-radius: 5px;
    display: flex;
}
.content {
    flex-wrap: wrap;
    flex-grow: 3;
    flex-basis: 450px;
}
.about {
    padding: 20px 15px;
    border-bottom: solid 1px #edeeee;
}
.header-main {
    width: 100%;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.header-second {
    padding: 20px 1px 0px 3px;
    font-weight: bold;
    justify-content: space-around;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    color: #6F7276;
    align-self: stretch;
}
button.settings {
    color: black;
}
.comments {
    background-color: #FAFAFA;
    padding: 10px;
}
.item {
    height: 37px;
    padding: 0px 10px;
}
.ImageProfile{
    width: 130px;
    height: 130px;
    margin: 5px;
    border-radius: 5px;
    object-fit: cover;
}
.MarkerProfile {
    color: white;
    font-weight: 600;
    background-color: #1ABC9C;
    margin:5px 0px 5px;
    border-radius: 5px;
    font-size: 30px;
    padding: 5px 10px;
    width: 300px;
    text-align: center;
}
.ProfileNameText{
    font-size: 40px;
    text-transform : uppercase;
    font-weight: 600;
    margin:10px;
    text-align: center;
}
.ProfileDescriptionText{
    font-size: 30px;
    margin:20px;
    text-align: center;
}
.ProfileTextMyself{
    text-indent: 20px;
    margin: 5px 10px;
}
.ProfileContactIco{
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin:5px 20px;
    vertical-align: middle;
}
.FlexEnd{
    flex-direction: row-reverse;
}
.BlockComent {
    padding: 10px;
    background: #ffffff;
    min-width: 400px;
    border: solid 1px #edeeee;
    border-radius: 5px;
}
.item3p{
    order: 0;
    height: auto;
    margin: 0px;
    padding: 0px;
    flex-basis: 250px;
    height: auto;
    margin: 10px;
}
.item2p{
    order: 2;
    height: auto;
    margin: 0px;
    padding: 0px;
    flex-basis: 690px;
    height: auto;
    margin: 10px;
}
.item1p{
    order: 1;
    height: auto;
    margin: 0px;
    padding: 0px;
    flex-basis: 330px;
    margin: 10px;
}
.SettingProfileButton{
  margin: 0px;
}
