.profile {
    background-color: white;
}
.profile {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.profile-header {
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #edeeee;
}
.profile-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contacts {
    flex-shrink: 0;
    flex-basis: 203px;
    padding: 20px 15px;
    flex-grow: 1;
    border-right: solid 1px #edeeee;
    border-bottom: solid 1px #edeeee;
}
.comment {
    margin-bottom: 5px;
    padding: 10px;
    background: #ffffff;
    min-width: 400px;
    border: solid 1px #edeeee;
    border-radius: 5px;
    display: flex;
}
.wall {
    flex-wrap: wrap;
    flex-grow: 3;
    flex-basis: 450px;
}
.about {
    padding: 20px 15px;
    border-bottom: solid 1px #edeeee;
}
.header-main {
    width: auto;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.header-second {
    padding: 20px 1px 0px 3px;
    font-weight: bold;
    justify-content: space-around;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    color: #6F7276;
    align-self: stretch;
}
button.settings {
    color: black;
}
.comments {
    background-color: #FAFAFA;
    padding: 10px;
}
.item {
    height: 37px;
    padding: 0px 10px;
}
.ImageProfile{
    width: 130px;
    height: 130px;
    margin: 5px;
    border-radius: 5px;
    object-fit: cover;
}
