body{
    background: #F0F0F0;
    margin: 0px;
    padding:0px;
}
.RowFlexBetween{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}
.item2s{
    order: 1;
    height: auto;
    margin: 0px;
    padding: 0px;
    flex-basis: 593px;
    flex-grow: 2;
    background: #D7D7D7;
    height: auto;
    margin: 20px 7px 0px 8px;
}
.item1s {
    order: 0;
    height: auto;
    margin: 0px;
    padding: 0px;
    flex-basis: 400px;
    flex-grow: 1;
    margin: 20px 8px 0px 7px;
}
.SettingsInfoText{
    text-align: center;
    padding: 10px;
    background-color: #5C6BC0;
    color: #ffffff;
    font-size: 21px;
    cursor: default;
}
.SettingsExpander{
    cursor: pointer;
    padding: 10px 30px;
    font-size:17px;
    background: #D7D7D7;
}
.SettingsExpander:hover{
    background: #4CAF50;
}
.SettingsInput{
    padding: 5px 10px;
    font-size: 18px;
    margin: 5px 0px 0px 20px;
    outline: none;
    border-radius: 5px;
    border: solid 2px #A9A9A9;
    width: 83%;
}
.SettingsInput:focus{
    border: solid 2px #4CAF50;
}
.SettingTextInput{
    padding: 15px 0px 5px 50px;
}
.SettingUpdate{
    border: none;
    padding: 7px 10px;
    font-size: 17px;
    background: #1abc9c;
    color: #ffffff;
    margin: 30px 0px 15px 20px;
    cursor: pointer;
    outline: none;
}
.SettingUpdate:hover{
    opacity: 0.6;
}
.SettingDontKnow{
    border: none;
    cursor: pointer;
    padding: 0px;
    margin-left: 20px;
    background: none;
}
.SettingDontKnow:hover{
    color:#5C6BC0;
}
