.signin {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0px;
  background: #5C6BC0;
  justify-content: space-around;
}
.SignInTextRight{
  text-align: center;
  margin: 10px 0px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 20px;
  cursor: default;
}
.SignInTextDisription{
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
.SignInTextCompany{
  text-align: center;
  font-size: 67px;
  margin: 100px 0px 50px 0px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
.SignBtton{
  padding: 15px 20px;
  margin: 20px 0px 100px 160px;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  border: solid 2px;
}
.SignInput{
  width: 400px;
  font-size: 20px;
  padding:10px 14px;
  border:solid 1px #37474F;
  border-radius: 3px;
  background-color: #ffffff;
}
.SignInButton{
  background-color: #37474F;
  border-color: #37474F;
  color: #ffffff;
}
.SignUpButton{
  background-color: #ffffff;
  border-color: #37474F;
  color:#37474F;
}
.SignUpButton:hover{
  background-color: #37474F;
  border-color: #37474F;
  color:#ffffff;
  opacity: 1;
}
.SignInButton:hover{
  background-color: #ffffff;
  border-color: #37474F;
  color: #37474F;
  opacity: 1;
}
.SignIn{
  margin-top: 100px;
  order: 0;
}
.SignUp{
  order: 1;
}
