.RegBlok{
  background-color: rgba(118, 118, 118, 0.59);
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  padding: 175px 0px;
  flex-wrap: wrap;
}
.TextRegCompany{
  text-align: center;
  color: #ffffff;
  font-weight:bolder;
  font-size: 3em;
  margin: 0em 1em 0.5em 0.7em;
  cursor: default;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.TextRegInfo{
  text-align: center;
  color: #ffffff;
  font-weight:bolder;
  font-size: 2em;
  margin: 0em 1em 0.3em 1em;
  cursor: default;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.InputReg{
  width: 300px;
  padding: 8px;
}
.BtnReg{
  width: 323px;
  margin-top: 7px;
}
.RegAlignTextCenter{
  text-align: center;
}
.InputCheckBoxText{
  text-align: center;
  font-size: 17px;
  color: #edeeee;
}
